extends layout

block content
  h1(class="title")= title
    a(href='/exportcsv' class="csv") Export to CSV
  div(class="container")
    table
        thead
            th Full Name
            th Email
        tbody
        - each item in signeeList 
          tr
            td= item.fullName 
            td= item.email